body{
    text-align: center;
    margin: 0;
    background-color: rgb(220, 194, 181);
}
.countainer{
background-color: rgb(75, 77, 70);
   margin-left: 780px;
   margin-right: 780px;
   margin-top: 100px;
   padding: 20px;
   border-radius: 20px;

   
}
#plus{
    padding: 10px 15px;
    border-radius: 20px;
}
#minus{
     padding: 10px 15px;
     border-radius: 20px;
     

     
    
}
#reset{
    padding: 10px 15px;
    border-radius: 20px;
    background-color: red;
}
h1{
    color: white;
}
h2{
    color: white;
}
p{
    color: white;
}